.W40
{
    width: 40px !important;
}

.W80
{
    width: 80px !important;
}

.MyTable
{
   direction: rtl;
    padding-right: 30px;
    text-align: right;
}

.DirectionRtl
{
    direction: rtl;
    text-align: right;
}

.DirectionRtl th
{
    direction: rtl !important;
    text-align: right !important;
}


.DirectionLtr {
    direction: ltr !important;
    text-align: left !important;
}

.DirectionLtr th
{
    direction: ltr !important;
    text-align: left !important;
}


.formWrapper{
    padding: 15px;
}
